<div class="custom-pages">
  <div class="app-card-container">
    <div class="card">
      <h1>Would you like to work together?</h1>

      <hr>

      <div class="row">
        <div class="col-md-6">
          <h3>Address</h3>

          <p>Fruit Heights, Utah 84037</p>

          <h3>Phone</h3>

          <p><%= number_to_phone "8015555555" %></p>

          <h3>Email</h3>

          <p><a href="mailto:omagdiel@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
        </div>

        <div class="col-md-6">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24078.231692730453!2d-111.92489364024455!3d41.030091575091184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752fe2d4219cec1%3A0x2205f98e08a2a82b!2sFruit+Heights%2C+UT+84037!5e0!3m2!1sen!2sus!4v1517597036547" width="400" height="300" frameborder="0" style="border:0" allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
