<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">
    My name is Owen Magdiel and welcome to my website.
    <br>
    Here I have laid out a simple website with information about myself as well as a functioning portfolio to demonstrate a few of my front end as well as back end coding capabilities.
    <br>
    Please feel free to explore my website to play with a few of the built in features.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
